/*<!--body{
    background-color: #e2098f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h3{
    background-color: rgb(68, 189, 114);
    color: red;
    padding: 1%;
}
h4{
    color: rgb(44, 184, 202);
}
p{
    color:rgb(248, 6, 115);
    font-size: medium;
    font-weight: bold;
    line-height: 1.6em;
}*/
.box1{
    background-color: rgba(255, 0, 0, 0.788);
    font-family:  'Arial Narrow Bold', sans-serif;
    padding: auto;
    font-style: italic;
    bottom: auto;
}
.box3{
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;

}
.box2{
    background-color: blue;
}
#ho{
    background-color: rgb(142, 147, 216);
}